.homepage-row {
  display: flex;
  justify-content: space-between;
}

.homepage-column {
 margin-top: 10px;
}

.homepage-cat-column {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.row {
  display: flex;
  flex-wrap: wrap-reverse;
}

.cat-col {
  margin: 20px;
}

.preview-container {
	display: flex;
	margin-bottom: 24px;

}

.preview-container > p, img {
	margin: 12px

}

.preview-container > img {
	border: 1px solid lightgray;
	padding: 4px;
	margin-top: 16px;
	border-radius: 4px;
}